/Data/Bonemarrow multiomic
/Data/Human atlas lung
/Data/Mouse share_seq
/Data/PBMC_3k_10xmultiomic
/Data/Zhang 68k facs
/Data/PBMC 10k multiomic/processed_data
/Data/B cell lymphoma/lymph_node_lymphoma_14k_filtered_feature_bc_matrix.h5
/Data/PBMC 10k multiomic/pbmc_filtered.h5
/Data/B cell lymphoma/QC-bcell.h5mu
/Lab Notebooks
/__pycache__